body {
  width: 800px;
  margin: 86px auto;
  font-family: 'Open Sans', sans-serif;
  background: #373B44;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: black;
}
.theContainer {
  width: 600px;
  margin: 0 auto;
}

.theText {
  color: orangeyellow;
}

.searchText{
  color:black;
}

.textInput, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: black;
  background:transparent;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.textInput:focus {
  border-bottom:1px solid black;
}
.submitBTN {
  background-color: transparent;
  border:2px solid black;
  padding:10px 30px;
  width: 50%;
  margin-left: 25%;
  /* min-width: 350px; */
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.submitBTN:hover {
  border:2px solid #515151;
}